<div>
    <h1>Restart password</h1>
    <form class="form_container" id="restartPasswordForm">
        <input class="form_input" name="email" placeholder="Email">
        <input class="form_input" type="password" name="password" placeholder="NEW password">
        <input class="form_input" type="submit">
    </form>
</div>

<script src="/js/restartPassword.js"></script>