<div>
    <input id="emailInput" class="form_input" type="text" name="email" placeholder="Email">
    <button id="restartPasswordBtn" class="form_input">Restart password</button>
</div>

<script src="/js/mailPassword.js"></script>